.htaccess
.DS_Store?
uploads/*
themes/twentyten/*
themes/twentyeleven/*
themes/base/*
themes/portfolium/*
themes/index.php
plugins/*
index.php
/themes/lizcollins/fonts/*
/themes/liz_responsive/js/*
/themes/liz_responsive/fonts/*
/themes/liz_responsive/css/*
